<header class="main-header">
    
  <nav class="navbar">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logotipo" class="logo" />
    </div>
    <ul>
      <li><a [routerLink]="ROUTER_APP.INICIO">Inicio</a></li>
      <li><a [routerLink]="ROUTER_APP.MASCOTAS">Mascotas</a></li>
      <li><a [routerLink]="ROUTER_APP.SERVICIO">Citas</a></li>
      <li><a [routerLink]="ROUTER_APP.USUARIOS">Usuarios</a></li>
      <li><a [routerLink]="ROUTER_APP.CONTACTO">Contacto</a></li>
      <li>
          <button (click)="cerrarSesion()" class="btn btn-primary">Cerrar Sesión</button>
        </li>
        
    </ul>
  </nav>
 
</header>
